
<%= form_for @product, remote: true, :authenticity_token => true, html: {class: "form-horizontal center", :id => 'student_form'} do |f| %>
   <div class="modal-body">
   <ul class="errors"></ul>
  <fieldset >
 
        <div class="control-group">
      <%= f.label :avatar,  class: "control-label" %>
      <div class="controls">
          <%= f.file_field :avatar %>
      </div>
    </div>
    
    <%= f.fields_for :photos do |p| %>
     <div class="field">
       <%= p.label :photo %><br>
       <%= p.file_field :photo, :multiple => true, name: "photos[photo][]" %>
     </div>
   <% end %>

   <% unless @product.photos.empty? %>
    <% @product.photos.each do |p| %>
        <% binding.pry %>
        <%= image_tag p.photo.large_photo %>
        <%= check_box_tag 'activated[]',p.id %>
      <% end %>
    <% end %>
    <div class="control-group">
      <%= f.label :title,  class: "control-label" %>
      <div class="controls">
          <%= f.text_field :title%>
      </div>
    </div>

  <div class="control-group">
      <%= f.label :description,  class: "control-label" %>
      <div class="controls">
        <%= f.text_area :description %>
    </div>
    </div>

    <div class="control-group">
      <%= f.label :lat_long,  class: "control-label" %>
      <div class="controls">
        <%= f.text_field :lat, class: "input-small", :style => "width:50px;" %>
        <%= f.text_field :long, class: "input-small", :style => "width:50px;" %>
      </div>
  </div>
 </div>
  <div class="modal-footer">
    <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
    <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
  </div>
  </fieldset>
 
<% end %>
