    <div class="modal-header">
    	<h3> <%= @product.title %> </h3>
    </div>

    <% @product.photos.each do |p| %>
        <%= image_tag p.photo.large_photo %>
    <% end %>

 
    <div class="modal-body">
    	<%= image_tag @product.avatar.large_avatar %>
    	Description: <%= @product.description %></br>
		Lat/Long: <%= "#{@product.lat}/#{@product.long}" %></br>
        Owner: <%= @product.user.email %>
    </div>
    <div class="modal-footer">
    <%= link_to "Back", "#", class: "btn", data: { dismiss: "modal" } %>
    </div>